
<h2>Hi <%=current_user.username %>!</h2>
<h4> Would you like to submit a Forex project? </h4>
<br>
<div class='project_card'>
<% @user.projects.each do |p|%>
<h3 class='project_pair'><%= p.pair %></h3>
<img class='project_img' src='<%=p.image_url%>' alt='<%=p.pair%>' height="125" width="125">
<br>
<br>
<div class='project_info'>
<p>Pair: <%=p.pair%></p>
<p>Technical Analysis: <%=p.technical_analysis%></p>
</div>
<form method="post" action="/projects/<%=p.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Project">
</form>

<form method="get" action="/projects/<%=p.id%>/edit">
  <input type="submit" value="Edit Project">
</form>
</div>

<%end%>
